<%= link_to t('general.back'), news_index_path, class: 'btn btn-info' %>

<br><br>

<h1><%= t('general.new_m') << ' ' << t('activerecord.models.user') %></h1>

<br>

<%= render 'form', user: @user %>
